<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/templates/css/styles.css">
</head>

<body>
    <header>
        <h1>About Me</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="/templates/about.html">About</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Contact</a>
                <div class="dropdown-content">
                    <p>Name: Your Name</p>
                    <p>Email: yourname@example.com</p>
                </div>
            </li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Who Am I?</h2>
            <p>I am a student that enjoys programming</p>
        </section>
    </main>
</body>

</html>